#my-photo {
  width: 20rem;
  height: 30rem;
}

.normal {
  font-size: 30px;
  font-weight: bold;
}

h1 { color: red; }

a:visited { color: blue; }

a:hover { color: red; }

body {
  text-align: center;
  background-image: url("ugly.jpg");
}
